---
import { getCollection } from 'astro:content';
import Base from '../../layouts/Base.astro';
import PostList from '../../components/PostList.astro';
import { sortPostsForDisplay } from '../../lib/posts';

const posts = sortPostsForDisplay(await getCollection('posts', ({ data }) => !data.draft));
---

<Base title="书写" description="全部文字与随笔。">
  <div style="padding-top: 4rem;">
    <PostList posts={posts} heading="Writing" headingCn="全部书写" showMore={false} />
  </div>
</Base>
